.textarea{
    width:50%;
    height:300px;
    border:1px solid red;
    /* padding: 10px 10px; */
}
.textarea>textarea{
    width:100%;
    height:100%;
}
.preview{
    width:50%;
    height:300px;
    border:1px solid black;
}
.app{
    display: flex;
}